.gallery__like {
  background-image: url(../../../images/heart.svg);
  background-color: #fff;
  align-self: center;
  transition: opacity 0.3s ease;
  width: 22px;
  height: 19px;
  background-size: contain;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  flex-direction: column;
  display: flex;
  justify-content: center;
}

.gallery__like:hover {
  opacity: 0.5;
}
