.profile__avatar {
  background-image: url(../../../images/kysto.jpg);
  border-radius: 50%;
  position: relative;
  height: 127.5px;
  width: 127.5px;
}

@media screen and (max-width: 1051px) {
  .profile__avatar {
    grid-area: profile__avatar;
    justify-self: center;
    margin-bottom: 22.25px;
  }
}
