.profile__info {
  grid-template-columns: auto 24px;
  grid-template-rows: auto;
  margin-left: 20.63px;
  grid-gap: 16px 18px;
  display: grid;
  max-width: 336px;
}

@media screen and (max-width: 1051px) {
  .profile__info {
    grid-area: profile__info;
    grid-gap: 14px 10px;
  }
}
