.footer {
  width: calc(100% - 400px);
  margin: 0 auto 60px;
  max-width: 880px;
}

@media screen and (max-width: 1269px) {
  .footer {
    max-width: 581px;
  }
}

@media screen and (max-width: 900px) {
  .footer {
    margin: 0 auto 36px;
    max-width: 282px;
  }
}

@media screen and (max-width: 530px) {
  .footer {
    width: calc(100% - 38px);
  }
}
